.card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
}

.card {
    border-radius: 10px;
    padding: 20px;
}

.ash-gray {
    background-color: var(--ash-gray-25);
    border: 2px solid var(--ash-gray);
}

.bittersweet {
    background-color: var(--bittersweet-25);
    border: 2px solid var(--bittersweet);
}

@media screen and (min-width: 640px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {}